
.horizontal{
    list-style-type: none;
}

.horizontal li{
    display: inline;
    margin-left: 20px; 
    margin-right: 10px;
}

.top{
    float: right;
}

#float-after{
    clear: both;
}


#google-logo{
    display: block;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width:330px;
    max-height:195px;
}

.search-bar{
    display:block;
    width:50%;
    margin-left: auto;
    margin-right:auto;
    padding: 10px 10px;
    max-width: 650px;
    border-radius: 20px;
}

.buttons li{
    display:inline-block;
}

.button-container{
    text-align: center;
}

.buttons li button{
    padding: 5px 10px;
}

.info-container{
    text-align: center;
    margin-top: 50px;
}

.info li{
    margin-left: 5px;
    margin-right: 5px;
}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.first-footer{
    margin-left: 20px;
}

.second-footer .left{
    float: left;
}

.second-footer .right{
    float:right;
}

.margin-footer{
    float: right;
}

.result-nav{
    margin: 0 0;
    background-color: rgb(228, 228, 228);
}

body{
    margin: 0;
}

.top-left-logo img{
    width: 100px;
    height: 40px;
    float:left;
}